n8n_seguimiento_apis.json
{
  "name": "Seguimiento Obras APIs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "proyectos",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3b610d3f-56bb-49e0-b6c8-5dc2df01a8f6",
      "name": "GET /proyectos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM seguimiento.proyectos\nWHERE \n    ($1 = 'administrador' OR ($1 = 'responsable' AND cliente_id = $2::uuid))\n    AND ($3::uuid IS NULL OR id = $3::uuid);",
        "options": {
          "queryParameters": "={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }},={{ $json.query.id || null }}"
        }
      },
      "id": "e0e3b97b-665f-40e1-a077-ec07106dc4fc",
      "name": "PG GET proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proyectos",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ad64c9ab-20b1-4c13-a4cc-92b0bbffba92",
      "name": "POST /proyectos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO seguimiento.proyectos (cliente_id, creado_por, nombre, descripcion, ubicacion, estado)\nSELECT $1::uuid, $2::uuid, $3, $4, $5, COALESCE($6, 'activo')\nWHERE $7 IN ('administrador', 'responsable')\nRETURNING *;",
        "options": {
          "queryParameters": "={{ $json.headers.user_role === 'responsable' ? $json.headers.user_cliente_id : $json.body.cliente_id }},={{ $json.headers.user_id }},={{ $json.body.nombre }},={{ $json.body.descripcion }},={{ $json.body.ubicacion }},={{ $json.body.estado }},={{ $json.headers.user_role }}"
        }
      },
      "id": "e1f13b19-f9c1-4c60-8f92-563b7e710d8a",
      "name": "PG POST proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 200]
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "proyectos/:id",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1f7cd71-1250-4d43-bdce-668b1a3af8c7",
      "name": "PATCH /proyectos/:id",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE seguimiento.proyectos\nSET \n    nombre = COALESCE($1, nombre),\n    descripcion = COALESCE($2, descripcion),\n    ubicacion = COALESCE($3, ubicacion),\n    estado = COALESCE($4, estado),\n    updated_at = now()\nWHERE id = $5::uuid\n  AND ($6 = 'administrador' OR ($6 = 'responsable' AND cliente_id = $7::uuid))\nRETURNING *;",
        "options": {
          "queryParameters": "={{ $json.body.nombre || null }},={{ $json.body.descripcion || null }},={{ $json.body.ubicacion || null }},={{ $json.body.estado || null }},={{ $json.params.id }},={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }}"
        }
      },
      "id": "e36e8bba-c184-4861-ad7b-60b6af2b71ba",
      "name": "PG PATCH proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 400]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "proyectos/:id",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c61b6c7a-a6c8-47bc-adff-c1a7b8e1fc16",
      "name": "DELETE /proyectos/:id",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM seguimiento.proyectos\nWHERE id = $1::uuid\n  AND ($2 = 'administrador' OR ($2 = 'responsable' AND cliente_id = $3::uuid))\nRETURNING id;",
        "options": {
          "queryParameters": "={{ $json.params.id }},={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }}"
        }
      },
      "id": "db1ebbc8-d4c3-42e5-bcaf-194d80a1adba",
      "name": "PG DELETE proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 600]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "usuarios-cliente",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c86915f0-6a7e-4b47-ba86-fec90059b581",
      "name": "GET /usuarios-cliente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 800]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM seguimiento.usuarios_cliente\nWHERE \n    ($1 = 'administrador' OR ($1 = 'responsable' AND cliente_id = $2::uuid))\n    AND ($3::uuid IS NULL OR id = $3::uuid);",
        "options": {
          "queryParameters": "={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }},={{ $json.query.id || null }}"
        }
      },
      "id": "dcf1ecbf-e593-4a11-b0e6-ec0fbd9e29a8",
      "name": "PG GET usuarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 800]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "usuarios-cliente",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d04a4ea3-afb2-4d51-bbda-f00e62058428",
      "name": "POST /usuarios-cliente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 1000]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO seguimiento.usuarios_cliente (cliente_id, e164, nombre, activo, verificado_en)\nSELECT $1::uuid, $2, $3, COALESCE($4::boolean, true), $5::timestamptz\nWHERE $6 IN ('administrador', 'responsable')\nRETURNING *;",
        "options": {
          "queryParameters": "={{ $json.headers.user_role === 'responsable' ? $json.headers.user_cliente_id : $json.body.cliente_id }},={{ $json.body.e164 }},={{ $json.body.nombre }},={{ $json.body.activo }},={{ $json.body.verificado_en }},={{ $json.headers.user_role }}"
        }
      },
      "id": "fbc30f6f-d748-4e89-bdc9-26920150ab6c",
      "name": "PG POST usuarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "usuarios-cliente/:id",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d80b5ab5-635f-4a00-baef-c3a6e35eb522",
      "name": "PATCH /usuarios-cliente/:id",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 1200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE seguimiento.usuarios_cliente\nSET \n    e164 = COALESCE($1, e164),\n    nombre = COALESCE($2, nombre),\n    activo = COALESCE($3::boolean, activo),\n    verificado_en = COALESCE($4::timestamptz, verificado_en)\nWHERE id = $5::uuid\n  AND ($6 = 'administrador' OR ($6 = 'responsable' AND cliente_id = $7::uuid))\nRETURNING *;",
        "options": {
          "queryParameters": "={{ $json.body.e164 || null }},={{ $json.body.nombre || null }},={{ $json.body.activo !== undefined ? $json.body.activo : null }},={{ $json.body.verificado_en || null }},={{ $json.params.id }},={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }}"
        }
      },
      "id": "c16d51d5-bc44-4861-bb50-511ff31f6cba",
      "name": "PG PATCH usuarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 1200]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "usuarios-cliente/:id",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d0571168-ff15-4ba5-ba97-3ad7cc9cf41d",
      "name": "DELETE /usuarios-cliente/:id",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 1400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM seguimiento.usuarios_cliente\nWHERE id = $1::uuid\n  AND ($2 = 'administrador' OR ($2 = 'responsable' AND cliente_id = $3::uuid))\nRETURNING id;",
        "options": {
          "queryParameters": "={{ $json.params.id }},={{ $json.headers.user_role }},={{ $json.headers.user_cliente_id }}"
        }
      },
      "id": "ea58adab-3e28-4033-ab27-564dd2c22c06",
      "name": "PG DELETE usuarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 1400]
    }
  ],
  "connections": {
    "GET /proyectos": {
      "main": [
        [
          {
            "node": "PG GET proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /proyectos": {
      "main": [
        [
          {
            "node": "PG POST proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH /proyectos/:id": {
      "main": [
        [
          {
            "node": "PG PATCH proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE /proyectos/:id": {
      "main": [
        [
          {
            "node": "PG DELETE proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /usuarios-cliente": {
      "main": [
        [
          {
            "node": "PG GET usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /usuarios-cliente": {
      "main": [
        [
          {
            "node": "PG POST usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH /usuarios-cliente/:id": {
      "main": [
        [
          {
            "node": "PG PATCH usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE /usuarios-cliente/:id": {
      "main": [
        [
          {
            "node": "PG DELETE usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
